/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root {
  isolation: isolate;
  background-color: rgb(43, 35, 63);
  height: 100%;
  width: 100%;
}

div.app {
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 1rem;
  text-align: center;
  color: rgb(20, 4, 35);
}

p {
  text-align: center;
  font-size: 0.7rem;
}


.hex-grid.small {
  width: 550px;
  --s: 80px;
}
.hex-grid.small > div{
  max-width: 80;
}

.hex-grid.medium {
  width: 705px;
  --s: 115px;  
}


.hex-grid.large {
  background-color: rgb(43, 35, 63);
  padding-bottom: 65px;
  width: 1100px;
  --s: 185px;
}

.hex-grid.xLarge {
  width: 1355px;
  --s: 220px;  
}


.hex-grid {
  --f: 10px;
  --m: 6px; 
  --r: calc(var(--s)*3*1.1547/2 + 4*var(--m));
  display:flex;
  margin: auto;
  padding-top: 3vh;
}

h2.hex-category-text {
  font-size: var(--f);
  margin: auto;
}

.grid-container > div {
  background-image: linear-gradient(to bottom right, rgba(60, 128, 128, 0.5), rgba(162, 111, 158, 0.4), rgba(45, 77, 71, 0.6), rgba(60, 68, 66, 0.7));
  width: var(--s);
  height: calc(var(--s)*1.1547); 
  margin: var(--m);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  shape-outside: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}
.grid-container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(
    transparent 0 calc(var(--r) - 3px),
    #fff      0 var(--r)
  );
}
.grid-container > .big-hex {
  --s: 800px;
  margin: auto;
  position: absolute;
  top: 2%;
  left: calc(50vw - 400px);
  background-image: linear-gradient(to bottom right,rgb(161, 33, 161), rgb(70, 189, 189), rgba(155, 192, 127, 1), rgb(117, 156, 79));
}

.grid-container > div.accessible:hover {
  background-image: linear-gradient(to bottom right,rgba(224, 215, 89, 0.8), rgba(70, 189, 189, 0.7), rgba(137, 219, 74, 0.8));
}

.grid-container > div.accessible {
  background-image: linear-gradient(to bottom right, rgba(70, 110, 179, 0.8), rgba(127, 188, 192, 0.8));
}

.grid-container > div.fail {
  background-image: linear-gradient(to bottom right,rgb(102, 65, 133),rgb(105, 31, 46), rgb(184, 91, 62), rgb(209, 46, 18));
}

.grid-container > div.pass {
  background-image: linear-gradient(to bottom right,rgb(24, 144, 72),rgba(31, 64, 105, 0.8), rgba(23, 189, 48, 0.6));
}

div.fail > h2, div.pass > h2 {
  color: antiquewhite;
}

.hex > h2 {
  padding-top: 30%;
  font-size: var(--f);
  max-height: 2px;
}

.big-hex > h2 {
  margin: auto;
  font-size: calc(var(--f) * 2);
}

.big-hex > div {
  margin-top: 10%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

p.answer-splash {
  font: inherit;
  color: rgb(27, 41, 190);
}

div.response {
  padding: 3px;
  background-color: aquamarine;
  border-radius: 10px;
  margin: auto;
  min-width: 3vw;
}

div.response:hover {
  background-color: rgb(45, 177, 133);
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color:rgb(240, 222, 226)
}

