* {
    margin: unset;
    padding: unset;
}

div.app.lightmode {
  --app-background: rgb(43, 35, 63);
  --nav-colour: rgb(168, 126, 110);
  --nav-secondary: rgb(79, 112, 127);
  --nav-highlight: rgb(111, 155, 176);
  --nav-tertiary: rgb(159, 142, 141);
  --nav-text-colour: rgb(36, 34, 25);
}

div.app.darkmode {
  --app-background: rgb(90, 69, 144);
  --nav-colour: rgb(63, 26, 11);
  --nav-secondary: rgb(96, 125, 60);
  --nav-highlight: rgb(111, 155, 176);
  --nav-tertiary: rgb(159, 142, 141);
  --nav-text-colour: white;
}

div.app.darkmode {
  --app-background: rgb(14, 11, 22);
  --nav-colour: rgb(162, 57,202);
  --nav-secondary: rgb(71, 23, 246);
  --nav-highlight: rgb(231, 223, 221);
  --nav-tertiary: rgba(86, 70, 147, 0.526);
  --nav-text-colour: rgb(37, 24, 1);
}

div.app {
  height: 100%;
  width: 100%;
  background-color: var(--app-background);
  margin: auto;
  position: relative;
  display: flex;
  background-size: auto 100%;
}

div.canvas-grid {
  position: relative;
}

div.big-hex {
  position: absolute;
  background-color: cadetblue;
  margin: auto;
  border-radius: 30px;
  padding: 30px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom right,rgb(161, 33, 161), rgb(70, 189, 189), rgba(155, 192, 127, 1), rgb(117, 156, 79));
  min-width: 20%;
}

.big-hex > div {
  margin-top: 10%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.big-hex > h2 {
  margin: auto;
  font-size: 2vw;
  text-align: center;
}

p.answer-splash {
  font: inherit;
  color: rgb(27, 41, 190);
}

div.response {
  padding: 3px;
  background-color: aquamarine;
  border-radius: 10px;
  margin: auto;
  min-width: 3vw;
}

div.response:hover {
  background-color: rgb(45, 177, 133);
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-color:rgb(240, 222, 226)
}

nav.primary-nav {
  background-color:var(--nav-colour);
  border-radius: 1px;
  border-style: solid;
  border-color: rgb(150, 107, 80);
  position: absolute;
  font-size: 1.5vw;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4vw;
}

@media only screen and (max-width: 600px) {
  nav.primary-nav {
    font-size: 2.5vw;
    width: 6vw;
  }
}

nav.expanded-nav {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: fit-content;
}

div.navicon {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 3px;
  align-items: center;
}

div.navicon:hover {
  background-color: rgb(185, 197, 230);
}

div > img {
  width: 4vw;
}

div.toggle-nav > img {
  width: 2vw;
}

div.info-modal {
  color: var(--nav-text-colour);
  position: absolute;
  background-color: var(--nav-colour);
  top: 20%;
  left: 25%;
  z-index: 2;
  padding: 10%;
  width: 45%;
  border-radius: 15px;
}

div.settings-title {
  background-color: var(--nav-secondary);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 15px;
  width: fit-content;
}

div.app-settings-info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

div.settings-title:hover {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2vw - 1px;
  padding-right: 2vw - 1px;
  border: 1px;
  border-style: solid;
  border-color: var(--nav-secondary);
  background-color: var(--nav-highlight);
}

div.settings-options-menu {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--nav-tertiary);
  justify-content: space-around;
  padding: 2%;
  border-radius: 10px;
  gap: 5px;
}

div.setting-option {
  padding: 5px;
  border-radius: 10px;
  background-color: var(--nav-secondary);
  width: fit-content;
}

div.setting-option.selected{
  background-color: wheat;
}

div.setting-option:hover {
  padding: 4px;
  border: 1px;
  border-style: solid;
  border-color: var(--nav-colour);
  background-color: var(--nav-highlight);
}